@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
}

textarea::placeholder {
  color: rgba(255, 255, 255, 0.2);
}

.tecsis-scrollbar::-webkit-scrollbar {
  width: 3px;
}
.tecsis-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.tecsis-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}
.tecsis-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}
